
        body{
            background-color: rgb(237, 149, 216);
        padding: 4%;
        }

        div.container{
            background: rgb(255, 89, 188);
        display: flex; 
        flex-direction: column;
        gap: 20px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
       
    }
        
        div.content{
            background: rgb(192, 40, 134);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }


        h1 {
            color: rgb(234, 249, 177);
            padding-left: 6%;
            font-family: cursive;
            font-size: 40px;
        }
        p{
            padding-left: 14%;
            font-family: sans-serif;
        }

        span{
            font-size: 14px;
            padding-left: 2%;
            box-shadow: -14px 6px 20px 2px rgb(245, 0, 233);
            -webkit-box-shadow: -14px 6px 20px 2px rgb(245, 0, 233);
            -moz-box-shadow: -14px 6px 20px 2px rgb(245, 0, 233);
            border-radius: 20%;
            cursor: cell;
        }

        span:hover{
            background-color: bisque;
          }